%link{ :href => relative_path_to("/static/css/screen.css"), :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }
%link{ :href => relative_path_to("/static/css/print.css"), :rel => "stylesheet", :type => "text/css", :media => "print" }
/[lt IE 8]
  %link{ :href => relative_path_to("/static/css/ie.css"), :rel => "stylesheet", :type => "text/css", :media => "screen, projection" }